
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Stcarga | Operador logistico</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Operadores logisticos en la ciudad de Buenaventura valle del cauca." />
  <meta name="keywords" content="operadores, logisticos, Buenaventura, valle" />
  <meta name="author" content="stcarga.com.co" />

    <!-- Facebook and Twitter integration -->
  <meta property="og:title" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content=""/>
  <meta name="twitter:title" content="" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" />

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="favicon.ico">

  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
  <header role="banner" id="fh5co-header">
    <div class="fluid-container">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <!-- Mobile Toggle Menu Button -->
          <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
          <div id="ribbon">
            <a class="logo-content" href="/">
              <%= image_tag "logo.png", class: "img-responsive logo" %>
            </a> 
          </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#" data-nav-section="home"><span>Inicio</span></a></li>
            <li><a href="#" data-nav-section="us"><span>Nosotros</span></a></li>
            <li><a href="#" data-nav-section="services"><span>Servicios</span></a></li>
            <li><a href="#" data-nav-section="contact-us"><span>Contactenos</span></a></li>
            <li class="call-to-action area"><a href="http://panel.stcarga.com.co" target="_blank"><span>Area de empleados</span></a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <section id="fh5co-home" data-section="home" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container">
      <div class="text-wrap">
        <div class="text-inner">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="to-animate">¡Tenemos el mejor servicio de operación logistica!</h1>
              <h2 class="to-animate">contactenos para que compruebe porque tenemos el mejor servico de logistica de Buenaventura.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="fh5co-services" data-section="us">
    <div class="fh5co-services">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-heading text-center">
            <h2 class="to-animate">¿Quienes somos?</h2>
            <div class="row">
              <div class="col-md-8 col-md-offset-2 subtext">
                <h3 class="to-animate">Somos una empresa dedicada a la operación logística contando para ello con la Infraestructura adecuada para esta actividad, ofreciéndoles a nuestros clientes responsabilidad y vocación de servicio, con el objetivo de mantener la constante innovación, creatividad y desarrollo de nuestros servicios, consolidando relaciones comerciales duraderas con el incansable afán de mantener siempre a nuestros clientes satisfechos, asi mismo contribuir con la generación de recursos que fortalezcan nuestra región, y es por esto que recalcamos  tanto nuestros valores coorporativos. </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="box-services">
              <i class="icon-eye to-animate-2"></i>
              <div class="fh5co-post to-animate">
                <h3>Transparencia</h3>
                <p>Realizamos nuestra gestión de forma objetiva, clara y verificable.</p>
              </div>
            </div>

          </div>
          <div class="col-md-4">
            <div class="box-services">
              <i class="icon-people to-animate-2"></i>
              <div class="fh5co-post to-animate">
                <h3>Equidad</h3>
                <p>Procedemos con justicia, igualdad e imparcialidad, buscando un impacto social positivo e inclusivo.</p>
              </div>
            </div>

          </div>
          <div class="col-md-4">
            <div class="box-services">
              <i class="icon-flag to-animate-2"></i>
              <div class="fh5co-post to-animate">
                <h3>Respeto</h3>
                <p>Interactuamos reconociendo los intereses colectivos, la diversidad individual, la sostenibilidad de los recursos naturales y laInstitucionalidad.</p>
              </div>
            </div>
      </div>
    </div>
  </section>  

  <section id="fh5co-team" data-section="services">
    <div class="fh5co-team">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-heading text-center">
            <h2 class="to-animate">Nuestros Servicios</h2>
            <div class="row">
              <div class="col-md-8 col-md-offset-2 subtext">
                <h3 class="to-animate">Nuestra empresa brinda el mejor servicio de logistica de la region destacandoce por su servicio atención y seguridad en cada uno de sus encargos, contamos con un grupo de personas experimentadas, que conocen y ponen en practica sus habilidades para el buen desempeño y cuidado de sus mercancias. </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="team-box text-center to-animate-2">
              <div class="user"><%= image_tag "urbaneo.jpg", class: "img-responsive" %></div>
              <h3>Transportes Urbanos</h3>
              <span class="position">Urbaneo</span>
              <p>Realizamos el transporte desde el puesto hasta nuestras instalaciones, contamos con los equipos y personal calificado.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="team-box text-center to-animate-2">
              <div class="user"><%= image_tag "bodegaje.jpeg", class: "img-responsive" %></div>
              <h3>Bodegaje</h3>
              <span class="position">Almacenamiento de mercancia</span>
              <p>Contamos con el espacio y la experiencia para almacenar y proteger su carga durante el tiempo que usted contrate nuestros servicios.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="team-box text-center to-animate-2">
              <div class="user"><%= image_tag "descarga.jpg", class: "img-responsive" %></div>
              <h3>Carga y Descarga</h3>
              <span class="position">Cuidamos su mercancia</span>
              <p>Ofrecemos los equipos tecnologicos de ultima generacion y personal experimentado en el cargue y descargue de contenedores con amplia experiencia en el manejo de dichos equipos.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section id="fh5co-faq" data-section="faq">
    <div class="fh5co-faq">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-heading text-center">
            <h2 class="to-animate">Common Questions</h2>
            <div class="row">
              <div class="col-md-8 col-md-offset-2 subtext">
                <h3 class="to-animate">Everything you need to know before you get started</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="box-faq to-animate-2">
              <h3>What is Union?</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
            <div class="box-faq to-animate-2">
              <h3>I have technical problem, who do I email? </h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
            <div class="box-faq to-animate-2">
              <h3>How do I use Bato features?</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="box-faq to-animate-2">
              <h3>What language are available?</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
            <div class="box-faq to-animate-2">
              <h3>Can I have a username that is already taken?</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
            <div class="box-faq to-animate-2">
              <h3>Is Union free?</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <hr>

  <!-- <section id="fh5co-trusted" data-section="trusted">
    <div class="fh5co-trusted">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-heading text-center">
            <h2 class="to-animate">Trusted By</h2>
            <div class="row">
              <div class="col-md-8 col-md-offset-2 subtext">
                <h3 class="to-animate">We’re trusted by these popular companies</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
           <div class="col-md-2 col-sm-3 col-xs-6 col-sm-offset-0 col-md-offset-1">
            <div class="partner-logo to-animate-2">
              <%= image_tag "logo1.png", class: "img-responsive" %>
            </div>
           </div>
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class="partner-logo to-animate-2">
                <%= image_tag "logo2.png", class: "img-responsive" %>
            </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class="partner-logo to-animate-2">
                <%= image_tag "logo3.png", class: "img-responsive" %>
              </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class="partner-logo to-animate-2">
               <%= image_tag "logo4.png", class: "img-responsive" %>
              </div>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12">
              <div class="partner-logo to-animate-2">
                <%= image_tag "logo5.png", class: "img-responsive" %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <div class="getting-started getting-started-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 to-animate">
          <h3>Getting Started</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
        <div class="col-md-6 to-animate-2">
          <div class="call-to-action text-right">
            <a href="#" class="sign-up">Sign Up For Free</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div id="fh5co-footer" role="contentinfo" data-section="contact-us">
    <div class="container">
      <div class="row">
        <div class="col-md-4 to-animate">
          <h3 class="section-title">STCARGA</h3>
          <p>En STCARGA, estamos comprometidos con su satisfacción, a través de nuestro proceso de servicio al cliente mantenemos un canal de comunicación permanente con nuestros Clientes, con el objetivo de cuidar la calidad de nuestros servicios, facilitando la solución de problemas e incidencias en la entrega de mercancía y garantizando una adecuada gestión a sus solicitudes, sugerencias, quejas y reclamos.</p>
          <p class="copy-right">&copy; 2018 por iocarisoft. <br>Todos los derechos reservados. <br>
          </p>
        </div>

        <div class="col-md-4 to-animate">
          <h3 class="section-title">Nuestra dirección</h3>
          <ul class="contact-info">
            <li><i class="icon-map-marker"></i>CALLE 7b 4-34 Buenaventura Valle del Cauca</li>
            <li><i class="icon-phone"></i>+ 1235 2355 98</li>
            <li><i class="icon-envelope"></i><a href="#">stcargalogistica@stcarga.com</a></li>
            <li><i class="icon-globe2"></i><a href="#">www.stcarga.com</a></li>
          </ul>
        </div>
        <div class="col-md-4 to-animate">
          <h3 class="section-title">Envianos un mensaje</h3>
          <form class="contact-form">
            <div class="form-group">
              <label for="name" class="sr-only">Nombre</label>
              <input type="name" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="message" class="sr-only">Mensaje</label>
              <textarea class="form-control" id="message" rows="7" placeholder="Message"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Enviar Mensaje">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  </body>
</html>

